{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{asset('img/slider1.jpg')}}" class="d-block w-100 sliderImg" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{asset('img/slider2.jpg')}}" class="d-block w-100 sliderImg" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{asset('img/slider3.jpg')}}" class="d-block w-100 sliderImg" alt="...">
        </div>
    </div>
</div>
<h1 class="titleMain">Bienvenue chez Marie !</h1>
<h5 class="textMain">Des gâteaux aux pains d'épices, venez découvrir nos saveurs !</h5>
{% endblock %}