i{
    color: black;
}
header{
    display: flex;
    justify-content: center;
    height: 8%;
    z-index: 1;
    position: relative;
}
.navbar{
    width: 55%;
    border: none;
}
.navbar-nav{
    margin-right: 70%;
}
.holder{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.hold{
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}