$khaki: #C2B398ff;
$raw-umber: #956848ff;
$walnut-brown: #6F6456ff;
$gunmetal: #353C44ff;
$seal-brown: #642B19ff;

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora.ttf');
}
@import '~bootstrap/scss/bootstrap';
@import url('navbar.scss');
@import url('main.scss');
@import url('footer.scss');


*{
    font-family: 'Lora', serif;
}

body{
    min-height: 100vh;
}