.carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
}
.carousel-inner{
    height: 100%;
}
.sliderImg{
    filter: brightness(0.5);
}
.textMain, .titleMain{
    position: absolute;
    z-index: 1;
    color: white;
}
.textMain{
    right: 37%;
    top: 40%;
}
.titleMain{
    right: 40%;
    top: 35%;
}

.updateProductDiv{
    width: 40%;
}