/* Home Page */
.homeMain {

    min-height: 100vh;
    background-color: #f0f0f0;

    .search {
        height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background-image: url('../images/searchImage.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        .mainBox {

            height: 45vh;
            width: 40vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            background: rgba(255, 255, 255, 0.08);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(1.3px);
            -webkit-backdrop-filter: blur(1.3px);
            border: 1px solid #956848ff;

            .titleHome {
                color: white;
                font-size: 5rem;
            }

            .subtitleHome {
                color: white;
                font-size: 2rem;
            }

            .formSearch {
                width: 65%;

                .searchBar {
                    width: 100%;
                    height: 5vh;
                    border-radius: 25px;
                    border: 1px solid #956848ff;
                    padding-left: 10px;
                    font-size: 1.5rem;
                }

                .searchButton {
                    width: 7vw;
                    height: 5vh;
                    position: relative;
                    border-radius: 25px;
                    border: 1px solid #956848ff;
                    background-color: #956848ff;
                    color: white;
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;
                    bottom: 48px;
                    left: 73%;
                    justify-content: center;
                }
            }
        }

        .fa-arrow-down {
            color: white;
            font-size: 6rem;
            margin-top: 15vh;
        }

        .bounce {
            animation: bounce 1s ease-in-out infinite;

            @keyframes bounce {

                0%,
                100% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(20px);
                }
            }
        }
    }

    .productsMain {

        .sixProductsBoulangerie,
        .sixProductsPatisserie {

            height: 60vh;
            text-align: center;
            color: black;

            .sectionTitle {
                color: black;
                padding-top: 50px;
                margin-bottom: 30px;
            }

            .carousel {
                position: relative;
                width: 100%;
                overflow: hidden;
                color: black;

                .carousel-slides {
                    display: flex;
                    transition: transform 0.5s ease;
                }

                .carousel-group {
                    display: flex;
                    flex-wrap: nowrap;
                    min-width: 100%;
                    justify-content: space-evenly;
                }

                .prev,
                .next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    border: none;
                    padding: 5px;
                    cursor: pointer;
                    z-index: 1;
                    background-color: transparent;
                    color: black;
                }

                .prev {
                    left: 10px;
                }

                .next {
                    right: 10px;
                }
            }

            .product-card {
                border: 1px solid #ddd;
                border-radius: 10px;
                overflow: hidden;
                max-width: 300px;
                width: 100%;
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                transform: translateY(20px);
                transition: transform 0.3s ease;
                height: 80%;
                background: rgba(255, 255, 255, 0.4);


                &:hover {
                    transform: translateY(0);
                }

                .product-image {
                    object-fit: cover;
                    width: 100%;
                    height: 60%;
                }

                .product-info {
                    padding: 15px;

                    .product-name {
                        margin: 0;
                        font-size: 1.2em;
                    }

                    .product-rating {
                        color: gold;

                        .star {
                            cursor: pointer;
                        }
                    }

                    .product-button-boulangerie {
                        background-color: white;
                        color: black;
                        border: none;
                        padding: 10px 20px;
                        margin-top: 10px;
                        border-radius: 5px;
                        cursor: url('../images/u-1f956-g2q5gzkdmspxlc2zj07xn__1_-removebg-preview.cur'), auto;


                        .fa-arrow-right {
                            margin-right: 10px;
                        }
                    }

                    .product-button-patisserie {
                        background-color: white;
                        color: black;
                        border: none;
                        padding: 10px 20px;
                        margin-top: 10px;
                        border-radius: 5px;
                        cursor: url('../images/png-clipart-three-chocolate-sticks-illustration-eclairs-food-french-pastries-thumbnail__1_-removebg-.cur'), auto;


                        .fa-arrow-right {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .sixProductsBoulangerie {
            border-bottom: 2px solid #956848ff;
            border-radius: 80px;
        }

        .sixProductsPatisserie {
            border-top: 2px solid #956848ff;
            border-radius: 80px;
        }
    }

    .about-bakery-section {
        padding: 20px;
        max-width: 1100px;
        margin: auto;

        .aboutUsTitle {
            margin-bottom: 30px;
            text-align: center;
        }
    }

    .about-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .bakery-image {
        width: 40%;
        max-width: 300px;
        border-radius: 10px;
    }

    .text-content {
        width: 55%;
    }
}

/* Show Product */
.showProductMain {
    background-color: #f0f0f0;
    height: 95vh;
    padding-bottom: 0;

    .productCol {
        max-height: 40vh;

        .product-card {
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            max-width: 300px;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transform: translateY(20px);
            transition: transform 0.3s ease;
            height: 80%;
            background: rgba(255, 255, 255, 0.4);


            &:hover {
                transform: translateY(0);
            }

            .product-image {
                object-fit: cover;
                width: 100%;
                height: 60%;
            }

            .product-info {
                padding: 15px;

                .product-name {
                    margin: 0;
                    font-size: 1.2em;
                }

                .product-rating {
                    color: gold;

                    .star {
                        cursor: pointer;
                    }
                }

                .product-button {
                    background-color: white;
                    color: black;
                    border: none;
                    padding: 10px 20px;
                    margin-top: 10px;
                    border-radius: 5px;
                    cursor: pointer;

                    .fa-arrow-right {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

/* Login */

/* Styles généraux pour positionner la boîte de connexion au centre */
.loginMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;

    /* Styles pour la boîte de connexion */
    .login-box {
        position: relative;
        width: 100%;
        max-width: 320px;
        padding: 2rem;
        margin: 1rem;
        background: #ffffff;
        border: 2px solid #eeeeee;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;

        /* Styles pour les liens de navigation */
        .links a {
            display: block;
            margin-top: 1rem;
            color: #337ab7;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                /* Soulignement au survol pour indiquer la possibilité de cliquer */
            }    
        }

        /* Pseudo-éléments pour les accolades */
        &::before {
            content: '{';
            position: absolute;
            top: 50%;
            /* transform: translateY(-50%); */
            font-size: 3em;
            color: #cccccc;
        }

        &::after {
            content: '}';
            position: absolute;
            top: 50%;
            /* transform: translateY(-50%); */
            font-size: 3em;
            color: #cccccc;
        }

        &::before {
            left: -1.5em;
            /* Positionnement à gauche de la boîte */
        }

        &::after {
            right: -1.5em;
            /* Positionnement à droite de la boîte */
        }
    }

    /* Styles pour le titre 'Connexion' */
    h1 {
        margin-bottom: 1.5rem;
        color: #333;
        font-weight: normal;
    }

    /* Styles pour les champs de formulaire */
    input[type="email"],
    input[type="password"] {
        width: calc(100% - 4rem);
        margin-top: 0.5rem;
        padding: 0.5rem;
        border: 1px solid #cccccc;
        border-radius: 4px;
    }

    /* Styles pour les étiquettes */
    label {
        display: block;
        text-align: left;
        margin-top: 1rem;
    }

    /* Styles pour le bouton de soumission */
    button[type="submit"] {
        padding: 0.6rem 1.2rem;
        color: #fff;
        background-color: #5cb85c;
        border: none;
        border-radius: 4px;
        margin-top: 2rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: #4cae4c;
        /* Assombrir le bouton au survol */
    }
}


/* SHOW PRODUCT */

.product-details {
    padding: 20px;
}

.product-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.product-info p {
    margin-bottom: .5rem;
}

.list-ingredients {
    max-height: 300px;
    /* ajustez selon vos besoins */
    overflow-y: auto;
    /* permet le défilement vertical si le contenu dépasse max-height */
    padding: 15px;
    border: 1px solid #ddd;
    /* bordure légère pour un aspect épuré */
    border-radius: 5px;
    /* coins arrondis pour un look moderne */
    background-color: #f8f9fa;
    /* couleur de fond légère pour un style épuré */

    .ingredient-item {
        padding: 5px 0;
        /* espace entre les éléments de la liste */
        border-bottom: 1px solid #eee;
        /* séparateur subtil entre les ingrédients */

        &:last-child {
            border-bottom: none;
            /* enlève la bordure du dernier élément */
        }
    }

    .ingredient-name,
    .allergen {
        margin: 0;
        /* enlève les marges par défaut pour un look plus propre */
        font-size: 14px;
        /* ajustez la taille de police selon vos besoins */
    }
}

.basket-holder {
    margin-top: 2rem;
}

.quantity-selector .btn {
    min-width: 40px;
}

.add-to-basket-form .btn {
    width: 100%;
    margin-top: 1rem;
}

.product-image-selector {
    padding: 20px;
}

.main-image-container {
    width: 100%;
    height: 500px;
    margin-bottom: 1rem;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.thumbnails-container {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.thumbnail {
    width: 100px;
    /* Largeur fixe pour les vignettes */
    height: 100px;
    /* Hauteur fixe pour les vignettes */
    overflow: hidden;
    /* Cache les parties débordantes de l'image */
    cursor: pointer;
}

.thumbnail img {
    width: 100%;
    /* Largeur complète du conteneur */
    height: 100%;
    /* Hauteur complète du conteneur */
    object-fit: cover;
    /* Redimensionne l'image pour couvrir la zone, en conservant les proportions */
    border-radius: 5px;
}

/* Modal Dialog Styles */
.modal-dialog {
    max-width: 65% !important;
    height: 90%;
}

.modal-content {
    height: 100%;
}

/* Admin Dashboard */

.mainDashboardAdmin {
    min-height: 100vh;
    background-color: #f0f0f0;

    .dashboard {
        min-height: 100vh;
    }
}

/* Basket */

.basketMain {
    min-height: 100vh !important;

}