@font-face{
    font-family : 'Lora';
    src : url('../fonts/Lora.ttf') format('truetype');
}
*{
    font-family: 'Lora';
}
.main{
    height: 88%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}
h1{
    font-size: 1.5rem;
}