@font-face{
    font-family : 'Abel';
    src : url('../fonts/Abel-Regular.ttf') format('truetype');
}
*{
    font-family: 'Abel';
}

i{
    color: white;
}
header{
    display: flex;
    justify-content: center;
    height: 10%;
    z-index: 1;
    position: relative;
}
.navbar{
    width: 55%;
    border: none;
}
.navbar-nav{
    margin-right: 70%;
}
.holder{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.hold{
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}

#searchInput{
    width: 0%;
    padding: 0;
    border: none;
    transition: all .35s cubic-bezier(.46,.01,.32,1);
    position: absolute;
    right: 15%;
}