.sidebar{
    width: 0;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #1C1D1D!important;
    position: fixed;
    z-index: 1;
    transition-property: all;
    transition: all .35s cubic-bezier(.46,.01,.32,1);
    padding: 0!important;
}

.nav{
    height: 35%;
    justify-content: space-evenly;
    overflow: hidden;
}