.modal-content {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    width: 100%;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    color: #5a5a5a;
    font-size: 1.5em;
}

.modal-body {
    padding: 15px;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
}

.product-image img {
    height: 309px;
    object-fit: cover; /* This will prevent the image from being distorted */
}

.productProperties {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productInfos, .listIngredients {
    padding: 10px;
}

.productInfos p, .listIngredients p {
    margin-bottom: 10px;
}

.basketHold {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #449d44;
    border-color: #398439;
}