.modal-content {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
}

.close {
    color: black;
}

.modal-title {
    color: #5a5a5a;
    font-size: 1.5em;
}

.modal-body {
    padding: 15px;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
}

.main-image-container {
    width: 75%; /* Ajustez la largeur selon vos besoins */
}

.thumbnails-container {
    width: 15%;
    margin-left: 30px;
}

.thumbnail img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; /* Espace entre les miniatures */
}

.productProperties {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productInfos, .listIngredients {
    padding: 10px;
}

.productInfos p, .listIngredients p {
    margin-bottom: 10px;
}

.basketHold {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #449d44;
    border-color: #398439;
}

.image-thumbnails{
    width: 15%;
}