<nav class="navbar">
    <div class="holder">
        <button class="btn btn-link" id="sidebarBtn"><i class="fa-solid fa-bars fa-xl"></i></button>
        <img src="{{asset('img/fouet.png')}}" alt="" class="iconWebsite">
        <div class="hold">
            <input type="text" id="searchInput">
            <button class="btn btn-link" id="searchBar"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
            <a href="#"><i class="fa-solid fa-basket-shopping fa-xl"></i></a>
            <a href="#"><i class="fa-solid fa-user fa-xl"></i></a>
        </div>
    </div>
</nav>