<div class="flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" id="sidebar">
    <ul class="nav nav-pills flex-column mb-auto" id="nav">
        <li class="nav-item">
            <a href="{{path('app_home')}}" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                Accueil
            </a>
        </li>
        <li>
            <a href="{{path('list_products')}}" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                Liste des produits
            </a>
        </li>
        <li>
            <a href="{{path('app_dashboard_admin')}}" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#grid"></use>
                </svg>
                Liste des commandes
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle"></use>
                </svg>
                Liste des utilisateurs
            </a>
        </li>
        <li>
            <a href="{{path('new_employe')}}" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle"></use>
                </svg>
                Créer un employé
            </a>
        </li>
    </ul>
</div>